$theme-black-main: #4A4A4A;
$theme-dark-gray: #828282;
$theme-gray: #d8d8d8;
$theme-off-white: #f8f8f8;
$theme-white: #ffffff;
$theme-magenta: #F424AC;
// $theme-magenta: #F75AA0;

$theme-shadow: rgba(140,140,140,0.50);
$theme-shadow-light: rgba(140,140,140,0.20);


$timeline0: #F75AA0;
$timeline1: #F4244C;
$timeline2: #FF7C5F;
$timeline3: #FFBA4B;
$timeline4: #B8E986;
$timeline5: #49C076;
$timeline6: #5ED8D5;
$timeline7: #44B9E6;
$timeline8: #5773BB;
$timeline9: #9C67B5;

$timelineColors: $timeline0, $timeline1, $timeline2, $timeline3, $timeline4, $timeline5, $timeline6, $timeline7, $timeline8, $timeline9
