$theme-black-main: #4A4A4A;
$theme-dark-gray: #828282;
$theme-gray: #d8d8d8;
$theme-off-white: #f8f8f8;
$theme-white: #ffffff;
$theme-magenta: #F424AC;

$theme-shadow: rgba(140,140,140,0.50);
$theme-shadow-light: rgba(140,140,140,0.20);
