/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $theme-black-main;
  background-color: $theme-off-white;

  // Smaller font on small screens
  font-size: 0.875em;

  @media (min-width: $break-small) {
    font-size: 1em;
  }
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $theme-magenta;
}

.main {
  margin-top: $header-height;
  padding: 1em;
}

// Guess what: IE10 needs this because special-snowflake syndrome
@-ms-viewport{
  width: device-width;
}
