.button {
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.25rem;

  border: 2px solid $theme-gray;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: $theme-black-main;

  background: none;

  cursor: pointer;

  a, p {
    margin: 0;
  }

  transition: background-color $opacity-animation-speed ease-in-out,
              border-color $opacity-animation-speed ease-in-out,
              color $opacity-animation-speed ease-in-out;

  &:hover {
    background-color: $theme-gray;
  }
}

.timeline-item {
  display: inline-block;

  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.25rem;

  border: 2px solid $theme-gray;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1em;

  // background-color: #ddd;
  &:hover {
    background-color: $theme-gray;

    .circle {
      background-color: $theme-white;
    }
  }

  transition: background-color $opacity-animation-speed ease-in-out,
              border-color $opacity-animation-speed ease-in-out,
              color $opacity-animation-speed ease-in-out;

  color: $theme-black-main;

  @include display(flex);

  a, p, span {
    margin: 0;
    vertical-align: middle;
  }

  .circle {
    display: inline-block;
    // vertical-align: middle;
    width: 8px;
    height: 8px;
    margin-right: 6px;
    background-color: #aaa;
    border-radius: 100%;
    transition: background-color $opacity-animation-speed ease-in-out;
  }

  @for $i from 1 through length($timelineColors) {
    &.timeline#{$i - 1} .circle {
      background-color: nth($timelineColors, $i);


    }

    &.timeline#{$i - 1}:hover {
      background-color: nth($timelineColors, $i);
      border-color: nth($timelineColors, $i);
      color: $theme-white;
      // cursor: pointer;

      .circle {
        background-color: $theme-white;
      }
    }
  }

  .title {
    margin: auto 0;
    @include flex(1);
  }

  .icons {
    @include display(flex);
    & > * {
      margin: auto;
      cursor: pointer;
    }
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    color: $theme-magenta;
  }
}

.disabled.button,
.logged-in.button {
  background-color: $theme-gray;
  color: $theme-white;
  cursor: default;
}
