form {
  label {
    margin-top: 0.5em;
    display: block;

    &.required {
      // font-weight: bold;

      &:after {
        content: '*';
        color: $theme-magenta;
      }
    }
  }

  input[type='text'],
  textarea {
    display: block;
    width: 100%;
  }

  input[type="checkbox"] {
    margin-right: 0.5em;
  }

  .button,
  button {
    margin: 0.5em 0;
  }

  .plus-button {
    border: none;
    background: none;
    margin: auto 0;
    // margin-left: em;
  }

  .two-column {
    @include display(flex);
  }

  .section {
    margin-top: 0.5em;
  }
}
