.svg-icon {
  width: 14px;
  height: 14px;
}


.plus-icon {
  width: 16px;
  height: 16px;
}

.icon-margin-right {
  margin-right: 4px;
}

.x-icon {
  padding-right: 1px;
  width: 15px;
  height: 15px;
}
