div= token_tag
div
  =label_tag :timeline_name, 'Timeline Name'
  =text_field_tag :timeline_name
div
  =label_tag :user_id, 'Import tweets from a friend\'s timeline'
  =select_tag :user_id, options_for_select(@friends.unshift(['Select a friend...', 0]))
div
  =label_tag :alternate_user_id, 'Or specify any Twitter user\'s screen name'
  =text_field_tag :alternate_user_id
div
  =label_tag :start_date, 'Start Date'
  =date_select :filters, :start_date, default: 1.years.ago
div
  =label_tag :end_date, 'End Date'
  =date_select :filters, :end_date, default: 1.days.from_now
