.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // overflow-y: scroll;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 $edge-spacing;
  padding-bottom: 1em;

  h1 {
    width: 100%;
    font-size: 0.75em;
    border-bottom: 1px solid $theme-gray;
    color: $theme-dark-gray;
  }
}

// ReactCSSAnimationGroup transitions for top bar
.dropdown-top-enter,
.dropdown-bottom-enter {
  opacity: 0.01;
}

.dropdown-top-enter.dropdown-top-enter-active,
.dropdown-bottom-enter.dropdown-bottom-enter-active {
  opacity: 1;
  // Move transition to here to fix iOS8/Safari bug
  -webkit-transition: opacity $opacity-animation-speed ease-in-out $slide-animation-speed;
  transition: opacity $opacity-animation-speed ease-in-out $slide-animation-speed;
}

.dropdown-top-leave,
.dropdown-bottom-leave {
  opacity: 1;
  -webkit-transition: opacity $opacity-animation-speed ease-in-out;
  transition: opacity $opacity-animation-speed ease-in-out;
}

.dropdown-top-leave.dropdown-top-leave-active,
.dropdown-bottom-leave.dropdown-bottom-leave-active {
  opacity: 0.01;
}
