.shelf-content {
  height: $header-height;
  width: 100%;
  position: relative;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.shelf {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  @include display(flex);
  height: $header-height;
  width: 100%;

  p {
    margin: 0;
    // display: inline-block;

    // TODO fix dropdown-link from disappearing with overflow: hidden
    // position: static;

    &.truncate {
      overflow:hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }

    &.selected {
      font-weight: bold;
    }

  }
}

.left,
.right {
  @include flex(1);
  margin: auto;
  // @include display(flex);
}

.left {
  padding-left: $edge-spacing;

  p {
    padding-right: 10%;

  }


}

.right {
  text-align: right;
  padding-right: $edge-spacing;
}

.center {
  margin: auto;
  text-align: center;
}

.logo {
  font-size: 1.125em;
  font-weight: bold;
}

.avatar {
  max-width: 1.5em;
  max-height: 1.5em;
  vertical-align: bottom;
  border-radius: 3px;
}

.dropdown-link {
  @include expand_link();
  cursor: pointer;
}

.shelf-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

// Hide username and just show avatar on small screens
.shelf-user {
  span {
    display: none;
  }

  .avatar {
    margin-right: 0;
  }

  @media screen and (min-width: $break-mid) {
    span {
      display: inline;
    }

    .avatar {
      margin-right: 0.5em;
    }
  }
}


// ReactCSSAnimationGroup transitions for top shelf
.shelf-top-enter,
.shelf-bottom-enter {
  opacity: 0.01;
}

.shelf-top-enter.shelf-top-enter-active,
.shelf-bottom-enter.shelf-bottom-enter-active {
  opacity: 1;
  // Move transition to here to fix iOS8/Safari bug
  -webkit-transition: opacity $opacity-animation-speed ease-in-out $slide-animation-speed;
  transition: opacity $opacity-animation-speed ease-in-out $slide-animation-speed;
}

.shelf-top-leave,
.shelf-bottom-leave,
 {
  opacity: 1;
  -webkit-transition: opacity $opacity-animation-speed ease-in-out;
  transition: opacity $opacity-animation-speed ease-in-out;
}

.shelf-top-leave.shelf-top-leave-active,
.shelf-bottom-leave.shelf-bottom-leave-active {
  opacity: 0.01;
}
