// Extends the sizing and position properties in app frame
.ui-bar {
  background-color: $theme-white;
  @include display(flex);
  @include flex-direction(column);
  width: 100%;

  .dropdown-content {
    @include flex(1);
    width: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    position: relative;
  }

  .dropdown-container {
    padding: 1em;
  }

  &.top {
    @include shadow_down(2px);
  }

  &.bottom {
    @include shadow_up(2px);
    position: relative;

    // Up arrow overlay
    &:before {
      position: absolute;
      content: ' ';
      z-index: 201;
      top: -16px;
      left: 0;
      right: 0;
      margin: auto;
      width: 33px;
      height: 17px;
      background-image: image-url('timeline-arrow.svg');
      background-size: 33px 17px;
    }
  }
}
