#epoch-menu {
  @include display(flex);
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  background-color: $theme-white;
  @include shadow-down(2px);
  z-index: 99;

  a {
    color: $theme-black-main;

    &:hover {
      color: $theme-magenta;
    }
  }

  .logo {
    margin: auto;
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
  }

  .left, .right {
    @include flex(1);
    & > * {
      display: inline-block;
    }
  }

  .left {
    padding-left: 1em;
    & > * {
      margin-right: 0.5em;
    }
  }

  .right {
    text-align: right;
    padding-right: 1em;
    & > * {
      margin-left: 0.5em;
    }
  }
}
