// Extends the sizing and position properties in app frame

.ui-bar {
  background-color: $theme-white;
  @include display(flex);
  @include flex-direction(column);
  width: 100%;

  p {
    margin: 0;
    display: inline-block;
  }

  .shelf {
    @include display(flex);
    height: $header-height;
    width: 100%;
  }

  .dropdown-content {
    @include flex(1);
    width: 100%;
    background-color: #aaa;
    // display: none;
    // height: 0;
    opacity: 0;
    transition: opacity $opacity-animation-speed ease-in-out;
  }

  &.active .dropdown-content {
    // display: block;
    // height: auto;
    opacity: 1;
    transition: opacity $opacity-animation-speed ease-in-out $slide-animation-speed;
  }
}

.left,
.right {
  @include flex(1);
  margin: auto;
}

.left {
  padding-left: $edge-spacing;
}

.right {
  text-align: right;
  padding-right: $edge-spacing;
}

.center {
  margin: auto;
  text-align: center;
}

.dropdown-link {
  @include expand_link();
}

.logo {
  font-size: 1.125em;
  font-weight: bold;
}

.avatar {
  max-width: 1.5em;
  max-height: 1.5em;
  vertical-align: bottom;
  margin-right: 0.5em;
  border-radius: 3px;
}

.ui-bar.top {
  @include shadow_down(2px);
}

.ui-bar.bottom {
  @include shadow_up(2px);
}
