// Extends the sizing and position properties in app frame

.ui-bar {
  background-color: $theme-white;
  @include display(flex);

  p {
    margin: 0;
    display: inline-block;
  }
}

.left,
.right {
  @include flex(1);
  margin: auto;
}

.left {
  padding-left: $edge-spacing;
}

.right {
  text-align: right;
  padding-right: $edge-spacing;
}

.center {
  margin: auto;
  text-align: center;
}

.timeline-dropdown,
.user-dropdown {
  @include expand_link();
}

.logo {
  font-size: 1.125em;
  font-weight: bold;
}

.ui-bar.top {
  @include shadow_down(2px);
}

.ui-bar.bottom {
  @include shadow_up(2px);
}
