@mixin shadow_up($height) {
  box-shadow: 0px -$height 0px 0px $theme-shadow;
}

@mixin shadow_down($height) {
  box-shadow: 0px $height $height 0px $theme-shadow;
}

@mixin shadow_center() {
  box-shadow: 1px 1px 4px 0px $theme-shadow;
}

// Create a CSS Triangle at the top-left of a div
@mixin up_point($size, $color) {
  position: absolute;
  content: ' ';
  top: -$size;
  left:0;
  width: 0;
  height: 0;
  border-right: $size solid transparent;
  border-bottom: $size solid $color;
}
