@mixin shadow_up($height) {
  box-shadow: 0px (-$height) $height $theme-shadow;
}

@mixin shadow_down($height) {
  box-shadow: 0px $height $height $theme-shadow;
}

@mixin shadow_center() {
  box-shadow: 1px 1px 4px 0px $theme-shadow;
}

// Create a CSS Triangle at the top-left of a div
@mixin up_point($size, $color) {
  position: absolute;
  content: ' ';
  top: -$size;
  left:0;
  width: 0;
  height: 0;
  border-right: $size solid transparent;
  border-bottom: $size solid $color;
}

@mixin link_point($size, $color) {
  position: absolute;
  content: ' ';
  // top: -$size;
  right: -$size * 1.5;
  bottom: $size;
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-bottom: $size solid $color;
}

@mixin expand_link() {
  position: relative;
  &:before {
    @include link_point(4px, $theme-black-main);
  }

  &:hover {
    color: $theme-magenta;
    &:before {
      border-bottom-color: $theme-magenta;
    }
  }
}
